<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="http://www.blueprintcss.org/blueprint/src/typography.css" rel="stylesheet" type="text/css">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2> Top 20 Composers for track selling </h2>
    <div class="top_20_composer">
     	{{ top_20_composer }}
    </div >
    <h2> Top selling for Rock genre </h2>
    <div class="information">
     	{{ information }}
    </div >
    <div class="container">
    <div class="genre_chart" >
        <img src="images/genre_chart.png" >    
    </div>
</div>
</body>
</html>